@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');


html {
    background: url(https://images.unsplash.com/photo-1612112169271-85fcd496bc96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    cursor: none;
}

.block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(10px + 2vw);
    font-weight: 700;
    color: #b3b3b3;
    text-shadow: 2px 1px 1px rgb(36, 36, 36);
    pointer-events: none;
    user-select: none;
    white-space: nowrap;
    text-align: center;
}

.spotlight {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    background: radial-gradient(circle,
            transparent 160px,
            rgba(0, 0, 0, 0.9) 100px);
}